/* =============
   Section 6
============= */
#section-6 {
   display: grid;
   grid-template-columns: 15px auto 15px;
   grid-template-areas: ". section-6 .";

   @include xl {
      grid-template-columns: auto 1200px auto;
   }

   #section-6-content {
      grid-area: section-6;

      @include lg {
         display: grid;
         grid-template-columns: 30% auto;
      }

      @include md {
         display: grid;
         grid-template-columns: 40% auto;
      }
   }
}