/* =============
    Section 2
============= */
#section-2{
    padding-top: 40px;
    padding-bottom: 40px;
    #section-2-container{
        display:grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-2 .";



        #section-2-content{
            grid-area: section-2;    
         }
    }
  
@include md{
            display: grid;
            grid-template-columns: 60% auto ;
            grid-template-areas: "section-2-content section-2-img";
            text-align: center ;
           
         }
         aside{
            img{
            width:100%;
            }
    }  
   }

