/* =============
   Section 4
============= */

#section-4 {
   display: grid;
   text-align: center;
   grid-template-columns: 15px auto 15px;
   grid-template-areas: ". section-4 .";
   padding: 30px 15px;
   color: $teal;

   #section-4-content {
      hr{
         border: none;
         background-color: black;
         height: 3px;
     }
      grid-area: section-4;
   }

   @include md {
      padding: 40px;
      grid-template-columns: auto 90% auto;
   }

   @include lg{
      grid-template-columns: auto 50% auto;
  }

   @include xl {
      grid-template-columns: auto 800px auto;
   }
}