/* =============
   Section 1
============= */
#section-1 {
    background-image: url(../img/section1/greece1.jpg);
    background-size: 200%;
    background-position: center;
    height: 62vh;
    color: white;

    h1{
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 4em;
        line-height: 1em;
        padding: 20px 0px 0px 20px;
    }


    @include md {
        background-size: 100%;
        height: 50vh;
    }

    @include lg {
        background-size: 100%;
        height: 76vh;
    }

    @include xl {
        background-size: 100%;
        height: 100vh;
    }
}