/* =============
    Footer
============= */
footer{
    display:grid;
    grid-template-columns: 15px auto 50px ;
    grid-template-areas: ". . footer ";
    #footer-content{
        grid-area: footer;
    }
}